<h3>Your Sentences</h3>
<div class="row">
  {{#each sentences}}
    <div class="col s12">
      <div class="card blue-grey darken-1">
        <div class="card-content center-align white-text">
          <p>{{ formatDate date 'MMMM Do YYYY' }}</p>
          <p>{{ truncate content 150 }}</p>
        </div>
        {{#ifCond user.id '==' ../user.id}}
          <a href="/sentences/edit/{{ id }}">Edit</a>
          <form action="/sentences/{{id}}?_method=DELETE" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete">
          </form>
        {{/ifCond}}
      </div>
    </div>
  {{else}}
      <p>No sentences found</p>
  {{/each}}
</div>